@font-face {
    font-family: 'Plantagenet Cherokee';
    src: url('../fonts/plantagenet-cherokee.woff2') format('woff2'),
         url('../fonts/plantagenet-cherokee.woff') format('woff'),
         url('../fonts/plantagenet-cherokee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

